.menu-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-container{
    /* background-color: beige; */
    color: rgb(243, 243, 243);
    font-size: 48px;
    margin: 48px;

}
.button-container{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    align-items: center;
    
}

#buttonNewGame{
  visibility: visible;
  /* display: none; */
}

.about-text{
    visibility: hidden;
    font-style:italic;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.game-container-item{
    /* background-color: white; */
    margin: 12px 0px 12px 0px;
}

.game-stat-container{
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items:center;
}

.game-stat-score-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.game-stat-score-title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.score-text{
    padding: 12px;
    font-size: 1.5em;
    /* background-color: pink; */
    color: white;
}

#score-text-divider{
    /* background-color: blue; */
    font-size: 2.5em
}

.game-grid{
    /* background-color: rgb(235, 11, 198); */
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    gap: 2px;
    /* justify-content: center; */
    align-content: center;

}
.game-grid-item{
    /* background-color: rgb(94, 235, 113); */
    background-color: rgb(238, 235, 231);
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: red; */
    color:steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.button-back-container{
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
}



#gameButtonReset{
padding: 12px;
width: 140px;
}


#gameButtonBack{
    padding: 12px;
    width: 140px;
}