.menu-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(10, 74, 110, 0.788);
}

.text-container{
    /* background-color: beige; */
    color: rgb(243, 243, 243);
    font-size: 48px;
    margin: 48px;

}
.button-container{
    display: flex;
    flex-direction: column;
    
}

#buttonNewGame{
  visibility: visible;
  /* display: none; */
}

.about-text{
    visibility: hidden;
    font-style:italic;
    color: rgb(255, 255, 255);
}