body{
    margin: 0;
    padding: 0;
    background-color: rgba(10, 74, 110, 0.788);

}
.button{
    background-color: rgb(108, 206, 193);
    border: none;
    color: white;
    /* padding: 12px;
    margin: 24px; */
    padding: 18px;
    margin:  18px 0px 18px 0px;
    font-size: 16px;
    border-radius: 8px;
    /* height: fit-content; */
    width: 200px;
    color: white;
}

.button:hover{
    background-color: rgb(70, 224, 230);
}

.button:active{
    background-color: rgb(144, 192, 180);
}


